@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="">Welcome</h1>
    <p>to the Camacho stand.</p>

    <img src="~/CamachoFull.jpeg" alt="logo" style="width:300px; height:300px;" />
</div>